<div class="card" style="width: 18rem;margin-top:2rem">
  <img class="card-img-top" style="width: 18rem;height: 14rem;" src= {{elemento.thumbnail}}   alt= {{elemento.title}}>
  <div class="card-body">
    <h5 class="card-title">{{elemento.title}}</h5>
    <p class="card-text">{{elemento.description}}</p>
    <h4 class="card-text">{{elemento.price}}</h4>
    <input id={{elemento._id}} type="number" className='styleInput' 
        max={{elemento.stock}} min="1" value="1">  
    <a class="btn btn-primary addProduct" href="/carrito/productos/{{elemento._id}}">agregar</a>
  </div>
</div>
<script src="/js/carrito.js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) { 
        new Carrito();
    });   
</script>    